name: DraxTube Build Simple

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Tools
        run: apk add --no-cache make build-base

      - name: Compile
        run: make
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: DraxTube-Basic-Launcher
          path: NeutrinoLauncher.elf
