name: DraxTube Build System

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apk add build-base git
          # Installa le librerie grafiche mancanti
          ps2sdk-ports-install gskit libjpeg-turbo libpng zlib

      - name: Compile
        run: make
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: DraxTubeLauncher
          path: NeutrinoLauncher.elf
