name: Build Neutrino Launcher

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: apk add build-base git

      - name: Compile
        run: make
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NeutrinoLauncher
          path: NeutrinoLauncher.elf
